@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {  
  width: 100%;
  height: 100vh;
  background: url(images/bg-pattern-top-desktop.svg) no-repeat top left, url(images/bg-pattern-bottom-desktop.svg) no-repeat right bottom;
  display: grid;
  grid-template-areas: "left right" "bottom bottom" "attribution attribution"; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;  
}

.top-left {
  height: 50vh;
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.top-left div {
  width: 60%;
}

.top-left .main-p {
  font-weight: 700;
  font-size: 50px;
  color: hsl(300, 43%, 22%);
  text-align: left;
  margin-bottom: 0.25em;  
}

.top-left .pi {
  font-weight: 500;
  font-size: 15px;
  color: hsl(303, 10%, 53%);
  line-height: 1.5;
}

.top-right {
  height: 50vh;
  grid-area: right;
  display: grid;  
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7,1fr);  
  row-gap: 12px;
  justify-content: center;
  align-items: center;
}

.top-right .rate {
  background-color: hsl(300, 24%, 96%);
  width: 64%;
  display: flex;  
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.top-right .rate p {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  display: inline-block;
  padding: 1.2em;
}

.top-right .rate img {
  padding: 5px;
}

.pri {
  grid-row: 3;  
}

.sec {
  grid-row: 4;
  margin-left: 8%;
 }

.tre {
  grid-row: 5;
  margin-left: 16%;
}

.bottom {
  grid-area: bottom;
  height: 48vh;
  display: grid;  
  grid-template-columns: repeat(11,1fr);
  grid-template-rows: 1fr;  
  column-gap: 20px;  
  align-items:flex-start;  
}

.feedbk {
  background-color: hsl(300, 43%, 22%); 
  border-radius: 12px;  
}

.feedbk p {
  color: hsl(300, 24%, 96%);
  font-weight: 500;
  font-size: 15px;
  margin: 2em;  
  line-height: 1.5;
}

.feed-top {
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.feed-top img {
  border-radius: 50%;
  justify-self: right;
  margin-right: 1em;
  width: 50%;
}

.feed-name h1 {
  color: hsl(300, 24%, 96%);
  font-weight: 700;
  font-size: 15px;  
  line-height: 1.5;
}

.feed-name p {
  color: hsl(333, 80%, 67%);  
  margin: 0;  
}

.first {
  grid-column: 2 / span 3 ;
}

.second {
  grid-column: span 3;
  margin-top: 25px;
}

.third {
  grid-column: span 3;
  margin-top: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  grid-area: attribution;
  align-self: flex-end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1200px) {
  .top-right .rate {    
    width: 80%;    
  }
  
  .sec {    
    margin-left: 0%;
   }
  
  .tre {    
    margin-left: 0%;
  }

  .feed-top img {    
    width: 80%;
    margin-right: 0em;
  }

  .feed-name {
    padding-left: 1em;
  }
}

@media screen and (max-width: 900px) {
  body { 
    height: auto;   
    background: url(images/bg-pattern-top-mobile.svg) no-repeat top left, url(images/bg-pattern-bottom-mobile.svg) no-repeat right bottom;    
    grid-template-areas: "left left" "right right" "bottom bottom" "attribution attribution"; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;  
  }

  .top-left {
    height: auto;
    padding-top: 10%;
  }

  .top-left div {
    width: 80%;
  }

  .top-left .main-p {    
    text-align: center;
    margin-bottom: 0.5em;  
  }

  .top-left .pi {
    text-align: center;
  }

  .top-right {
    height: auto;    
    grid-template-rows: repeat(3,1fr);  
    row-gap: 20px;
    padding: 4% 0;
  }

  .top-right .rate {    
    width: 80%;
    margin: 0 auto;   
  }  
  
  .pri {
    grid-row: 1;    
  }
  
  .sec {
    grid-row: 2;    
   }
  
  .tre {
    grid-row: 3;
    
  }

  .bottom {    
    height: auto;
    padding-bottom: 2%;
  }

  .second {    
    margin-top: 0px;
    height: 100%;
  }
  
  .third {    
    margin-top: 0px;
  }
}